<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
</head>

<body>


    <h1>Registro de nuevo usuario</h1>

    <form action="/validar" method="post">
        ID: <input type="text" name="ID" id="ID" required><br>
        Nombre: <input type="text" name="nombre" id="nombre" required><br>
        Apellido: <input type="text" name="apellido" id="apellido" required><br>
        Direccion: <input type="text" name="direccion" id="direccion" required><br>
        Nacimiento: <input type="date" name="nacimiento" id="nacimiento" required><br>
        Sexo: <input type="text" name="sexo" id="sexo" required><br>
        Estatura: <input type="number" name="estatura" id="estatura" required><br>
        Peso: <input type="number" name="peso" id="peso" required><br>
        Correo: <input type="email" name="correo" id="correo" required><br>
        Celular: <input type="number" name="celular" id="celular" required><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>